{%- from "component.njk" import component with context -%}
{# 
{% set css %}
  {% include "../style.css" %}
{% endset %} #}

<!doctype html>

<html lang="{{ page.lang }}" dir="{{ dir }}" class="antialiased">
  <head>

  <title>IndieWeb Examples</title>

  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>


  <body class="">

    {{ content | safe }}

  </body>
</html>